.banner
{
    width: 65%;
    height: 75vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    /* border-radius: 2px solid black ; */
    /* background: linear-gradient(180deg, white 0%, #0b301622 60%); */
    background: linear-gradient(180deg, white, rgb(193, 136, 136) 60%);
}
.banner-left
{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.banner-left h1{
    color: #171717;
    font-size: 80px;
    font-weight: 600;
}
/* .offers-left p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
} */
.banner-left button
{
    width: 282px;
    height: 55px;
    border-radius: 35px;
    background: #ff4141;
    border:none;
    color:white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
}
.banner-right
{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content:flex-end ;
    padding-top: 50px;
}
.banner-right img{
    width: 800px;
    height: auto;
    margin-top: 0px;
    padding-left: 160px;
}