#header1
{
  color: blue;
  background-color: black;
  font-size: 20px;
  height: 70px;
  
}
#header2
{
  color: white;
  /* background-color: black; */
  font-size: 20px;
  /* align-items: flex-start;
  justify-content: space-between; */
  text-decoration: none;
  margin-bottom: 0px;
}
#head2Link
{
  margin-right: 30px;
}

#icon
{
    align-items: baseline;
    padding-bottom: 0%;
    background-image: url("./Image/logoCode.jpg");
    margin-top: 12px;
    background-color: pink;
                
}

/* Logo */
.navbar-logo img {
    height: 50px; /* Adjust height */
    width:50px;
    cursor: pointer;
  }

  #search-icon
  {
    
    height: 35px;
    width: 35px;
    background-image: url("search-icon.png");
    background-color: rgb(250, 245, 245);
    border: none;
    background-size: cover ;
    background-position: center;
  }

  /* navLink[':hover'] = {
    color: "white", // Hover color
  }; */