.customDiv {
    background-color: #c4cfd1;
    height: auto;
    width: 300px;
  }
  
  .navigationBar{
    background-color: #95b4bb;
  }
  
  .image{
    padding-right: 20px
  }
  
  .list{
    display: inline-block;
    text-align: left;
  }
  
  