#main{
    background-color: antiquewhite;
    color: black;
    /* display:flex; /* no need to give it used bootstrap */
    /* flex-direction: row; */ 
}

#info
{
    width: 1100px;
}


#rSidebar
{
    width:300px;
    height: auto;
 
}
#left-sidebar
{
    width:300px;
    height: auto;
}